body {
	padding: 0;
	margin: 0;

font-family: "PT Sans";	
font-size: 14px;
line-height: 26px;
font-weight: 700;
color: #000000;
text-transform: uppercase;

background-color: #f2f2f2;
background-position: top center;
background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;

  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;


  border: none;
}


.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}
.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
	background-color: #81b3d2
}


.site-navigation a:focus {
	background-color: #81b3d2
}

.features-list {
  list-style: none;
   background-image: url("../img/up-stand.jpg");
   background-color:#ffffff;
}

.feature-item {
  text-align: center;
}

.feature-item h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.feature-item p {
  color:#b2b2b2;
  font-size: 14px;
  line-height: 26px;
  
}
.index-columns {
  color:#000000;
  font-size: 14px;
  line-height: 26px;

  background-color: #ffffff;
  text-align: center;

}

.search-form {
	color:#ffffff;
	 font-size: 14px;
    line-height: 26px;

	background-color: #766357;
}

.search-form:hover{
	background-color: #604e43
}
.search-form:focus{
	background-color: #604e43
}
.search-form:active{
	background-color: #503e33
}

.appointment-form {
	color:#000000;
	font-size: 14px;
	line-height: 26px;

	background-color: #ffffff; 
}

.button-find {
	color:#ffffff;
	font-size: 21px;
	line-height: 26px;

	background-color: #81b3d2;
}
.button-find:hover{
	background-color: #669ec0
}
.button-find:focus{
	background-color: #669ec0
}
.button-find:active{
	background-color: #5496bd
}

.appointment-item input {
    font: inherit;


  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.appointment-item input:hover {
  background-color: #ebebeb;
}

.appointment-item input:focus {
  background-color: #ffffff; 
  border-color: #ebebeb;
}


.main-footer {
	color:#000000;

  background-color: #f9fbf6;
  background-image: url("../img/main-footer.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.footer-contacts{
	color: #000000;
	text-decoration: none;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #ffffff;
  background-color: #81b3d2;
}
.social-button:hover{
	background-color: #669ec0
}
.social-button:focus{
	background-color: #669ec0
}
.social-button:active{
	background-color: #5496bd
}

.footer-copyright{
	color:#000000;
	text-align: center;

}

.footer-copyright:hover{
	background-color: #669ec0
}
.footer-copyright:focus{
	background-color: #669ec0
}
.footer-copyright:active{
	background-color: #bdbbbc
}